.card {
  overflow-wrap: break-word;
  border-radius: 16px;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 2px 4px 0 rgb(0 0 0 / 14%);
  border: 1px solid #e7e7e7;
  overflow: hidden;
  background-color: #fff;
  color: #0e1726;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  .card-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-picture-container {
    padding: 8px 8px 0;

    picture {
      display: block;
    }

    img {
      object-fit: cover;
      width: 100%;
      aspect-ratio: 16 / 9;
      border-radius: 8px;
      display: block;
    }
  }

  .card-content-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }

    h2,
    h3 {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      color: #0e1726;
      margin: 0;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: #17253d;
      margin: 0;
    }

    em {
      font-style: normal;
      font-size: 14px;
      font-weight: 600;
      color: #000;
      line-height: 20px;
      display: block;
      padding: 0 0 2px;
    }
  }

  .card-cta-container {
    padding: 0 16px 16px;
    margin: 0;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #0078d4;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      line-height: 22px;
      text-decoration: none;
      padding: 8px 12px;
      border-radius: 8px;
      transition: background-color 0.15s;
    }

    a:hover {
      background-color: #0067b8;
      color: #fff;
    }
  }

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 14%), 0 4px 8px 0 rgb(0 0 0 / 18%);
  }

  /* Quiet variation */
  &.quiet {
    box-shadow: initial;
    background-color: initial;
    border-radius: 0;
    border: none;
  
  }
  &.dev {
    max-height: 330px;
  }
}
